<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Add an animal</title>

<style>
    body,
    html {
        height: 100%;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .form-container {
        padding: 30px;
        border: 2px solid #ccc;
        background-color: #f9f9f9;
    }
</style>
</head>

<body>

<div class="form-container">
    <h1>Add an animal</h1>
    <form action="/animals/new" method="post">
        <label for="name">Name of animal:</label><br>
        <input type="text" id="name" name="name" value="Animal name"><br>
        <label for="species">Species of animal:</label><br>
        <input type="text" id="species" name="species" value="Species of animal"><br>
        <label for="habitat">Habitat:</label><br>
        <input type="text" id="habitat" name="habitat" value="Habitat"><br>
        <input type="submit" value="Submit"><br>
    </form>
</div>
</body>
</html>