<!DOCTYPE html>
<html lang="en">
<style>table, th, td {
  border:1px solid black;
}
</style>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Animal details</title>
</head>
<h1>Animal details</h1>
<body>
<table>
    <tr>
        <th>Animal Name</th>
        <th>Species</th>
        <th>Habitat</th>
        <th>Scientific Name</th>
        <th>Description</th>
    </tr>
    <tr>
        <td>Lion</td>
        <td>Panthera</td>
        <td>Savanna</td>
        <td>Panthera Leo</td>
        <td>The "King of the Jungle" lives in the harsh savanna of Africa, where they live in "Prides". There was a movie made about them called "The Lion King".</td>
    </tr>

</table>

</body>
</html>