<!DOCTYPE html>
<html lang="en">
<style>table, th, td {
  border:1px solid black;
}
</style>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Table</title>
</head>
<h1> Table of animals </h1>
<body>
<table>
    <tr>
        <th>Animal name</th>
        <th>Species</th>
        <th>Habitat</th>
    </tr>
    <tr>
        <td>Lion</td>
        <td>Panthera</td>
        <td>Savanna</td>
    </tr>
    <tr>
        <td>Atlantic Bottlenose Dolphin</td>
        <td>Tursiops</td>
        <td>Atlantic Ocean</td>
    </tr>
    <tr>
        <td>African Bush Elephant</td>
        <td>Loxodonta</td>
        <td>Forest, Grasslands, Woodlands, Shrubland, Wetlands</td>
    </tr>
</table>
</body>
</html>