<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Update an animal</title>
    <style>
        body,
        html {
            height: 100%;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .form-container {
            padding: 30px;
            border: 2px solid #ccc;
            background-color: #f9f9f9;
        }
    </style>
</head>

<body>

<div class="form-container">
    <h1>Update an animal</h1>
<form>
    <label for="name">Name of animal:</label><br>
    <input type="text" id="name" name="name" value="Animal name"><br>
    <label for="species">Species of animal:</label><br>
    <input type="text" id="species" name="species" value="Species of animal"><br>
    <label for="Habitat">Habitat:</label><br>
    <input type="text" id="Habitat" name="Habitat" value="Habitat"><br>
    <label for="Scientific Name">Scientific Name:</label><br>
    <input type="text" id="Scientific Name" name="Scientific Name" value="Scientific Name"><br>
    <label for="Description">Description of animal:</label><br>
    <input type="text" id="Description" name="Description" value="Description"><br>
    <input type="submit" value="Submit"><br>
</form>
</div>
</body>
</html>