<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Update an animal</title>
    <style>
        body,
        html {
            height: 100%;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .form-container {
            padding: 30px;
            border: 2px solid #ccc;
            background-color: #f9f9f9;
        }
    </style>
</head>

<body>

<div class="form-container">
    <h1>Update an animal</h1>
<form action="/animals/update" method="post">
    <label for="id"> ID </label><br>
    <input type="text" class="form-control" id="id" name="id" data-th-value="${animal.id}" readonly><br>
    <label for="name">Name of animal:</label><br>
    <input type="text" id="name" name="name" data-th-value="${animal.name}"><br>
    <label for="species"> Species of animal:</label><br>
    <input type="text" id="species" name="species" data-th-value="${animal.species}"><br>
    <label for="Habitat">Habitat:</label><br>
    <input type="text" id="Habitat" name="Habitat" data-th-value="${animal.habitat}"><br>
    <label for="ScientificName">Scientific Name:</label><br>
    <input type="text" id="ScientificName" name="ScientificName" data-th-value="${animal.scientificName}"><br>
    <label for="description">Description of animal:</label><br>
    <input type="text" id="description" name="description" data-th-value="${animal.description}"><br>
    <input type="submit" value="Submit"><br>
</form>
</div>
</body>
</html>